<!doctype HTML>
<html ng-app="chromecastapp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="/scripts/chromecast.js"></script>
    <script src="/scripts/app.js"></script>
</head>
<body ng-controller="home">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4 navigation-menu">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="directory">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="setDirectory(directory)">Go!</button>
                    </span>
                </div>
            </div>
            <ul>
                <li ng-repeat="dir in directories" ng-click="setDirectory(dir.path)">{{dir.name}}</li>

            </ul>


        </div>
        <div class="col-md-10 col-sm-9 col-xs-8 content-panel">
            <div class="top-menu row">
                <div class="chromecast-status" ng-click="startSession()"></div>
                <div class="control seeking"></div>
                <div class="control play-pause"></div>
                <div class="control stop"></div>
            </div>
            <div class="row">
            <div class="col-md-3" ng-repeat="file in files">
                <div class="file" ng-click="openFile(file)">{{file.name}}</div>
            </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>