html, body {
    height: 100%;
}
body > .container-fluid {
    height: 100%;
}

body > .container-fluid > .row {
    height: 100%;
}

.navigation-menu {
    background-color: #759DCF;
    height: 100%;
    overflow-y: scroll;
}

.content-panel {
    background-color: rgb(223, 223, 223);
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 15px;
}


.navigation-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigation-menu ul li {
    height: 30px;
    line-height: 30px;
    background-color: #759DCF;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #4E78AC;
}

.navigation-menu ul li:last-child{
    border-bottom: 0px;
}
.navigation-menu ul li:hover {
    background-color: #4E78AC;
}

.navigation-menu ul li span {
    display: block;
    padding: 0px 10px;
}

.navigation-menu .row.folder-navigate {
    margin-left: 0px;
    margin-right: 0px;
}
.content-panel .col-md-3 {
    height: 45px;
    margin-top: 15px;
}

.content-panel .file {
    overflow: hidden;
    word-break: keep-all;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 5px;
}


.content-panel .top-menu {
    height: 32px;
    background-color: #698f91;
}

.top-menu .seeking {

}
.top-menu .chromecast-status {
    width: 32px;
    height: 32px;
    background: url('icons/chromecast_error.jpg');
    float: left;
}
.top-menu .play-pause {
    width: 32px;
    height: 32px;
    background: url('icons/controls_play.jpg');
    float: left;
}

.top-menu .volume {
    width: 32px;
    height: 32px;
    background: url('icons/controls_volume.jpg');
    float: left;
}
.top-menu .stop {
    width: 32px;
    height: 32px;
    background: url('icons/controls_stop.jpg');
    float: left;
}

.top-menu .seeking .ui-slider {
    height: 4px;
    top: 14px;
    background-color: blue;
    position: relative;
    float:left;
    width: 300px;
}

.top-menu .seeking .ui-slider-range {
    position: absolute;
    height: 100%;
    background-color: red;
}

.top-menu .seeking .ui-slider-handle {
    position: absolute;
    height: 8px;
    width: 4px;
    top: -2px;
    margin-left: -2px;
    display: block;
    background-color: purple;
}